In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [3]:
# List of file names
files = [
    "Módulo de identificación.csv",
    "Módulo de capital social.csv",
    "Módulo de características del micronegocio.csv",
    "Módulo de costos, gastos y activos.csv",
    "Módulo de emprendimiento.csv",
    "Módulo de inclusión financiera.csv",
    "Módulo de personal ocupado.csv",
    "Módulo de sitio o ubicación.csv",
    "Módulo de TIC.csv",
    "Módulo de ventas o ingresos.csv",
    "Módulo personal ocupado (propietario(a)).csv"
]

# Dictionary to hold DataFrames
datasets = {}

# Read each file into a DataFrame and store it in the dictionary
for file in files:
    # Create a valid Python identifier for each file name
    dataset_name = file.replace(" ", "_").replace("(", "").replace(")", "").replace(",", "").replace(".csv", "").replace("ó", "o")
    datasets[dataset_name] = pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/Final_Project/Data/to_import/"+file)  # Include the subdirectory in the file path

In [4]:
# Initialize the merged dataset with the first dataset
emicron = datasets[list(datasets.keys())[0]]
del datasets[list(datasets.keys())[0]]

# Merge all other datasets
for dataset_name, dataset in list(datasets.items())[1:]:
    emicron = pd.merge(emicron, dataset, on=["DIRECTORIO", "SECUENCIA_ENCUESTA", "SECUENCIA_P", "CLASE_TE", "COD_DEPTO", "AREA", "F_EXP"], how='left')
    del dataset

In [5]:
f_ex_micro = pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/Final_Project/Data/to_import/factores_departamental_2022_proy_2018.csv")

In [6]:
emicron = pd.merge(emicron, f_ex_micro, on=["DIRECTORIO", "SECUENCIA_ENCUESTA", "SECUENCIA_P"], how='left')

#informality index

In [7]:
index_informality = pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/Final_Project/Data/emicron_index.csv")

In [8]:
index_informality = index_informality[["DIRECTORIO", "SECUENCIA_ENCUESTA", "SECUENCIA_P", 'II_D1', 'II_D2', 'II_D3', 'II_D4', 'II']]

In [9]:
emicron = pd.merge(emicron, index_informality, on=["DIRECTORIO", "SECUENCIA_ENCUESTA", "SECUENCIA_P"], how='left')

In [10]:
emicron_clean = emicron.copy()

#geih

In [11]:
# Import geih
files = [
    "workforce_geih-2022-clean.dta",
    "other-work_geih-2022-clean.dta",
    #"other-income-taxes_geih-2022-clean.dta",
    "occupied_geih-2022-clean.dta",
    #"non-occupied_geih-2022-clean.dta",
    "migration_geih-2022-clean.dta",
    "individual_geih-2022-clean.dta"
    #"household_geih-2022-clean.dta"
]

# Dictionary to hold DataFrames
datasets_geih = {}

# Read each file into a DataFrame and store it in the dictionary
for file in files:
    # Create a valid Python identifier for each file name
    dataset_name = file.replace(" ", "_").replace("(", "").replace(")", "").replace(",", "").replace(".dta", "").replace("ó", "o")
    datasets_geih[dataset_name] = pd.read_stata("/content/drive/MyDrive/Colab_Notebooks/Final_Project/Tables/02_household-surveys/"+file)  # Include the subdirectory in the file path

<ipython-input-11-a4d44a2228d2>:20: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  datasets_geih[dataset_name] = pd.read_stata("/content/drive/MyDrive/Colab_Notebooks/Final_Project/Tables/02_household-surveys/"+file)  # Include the subdirectory in the file path
<ipython-input-11-a4d44a2228d2>:20: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  datasets_geih[dataset_name] = pd.read_stata("/content/drive/MyDrive/Colab_Notebooks/Final_Project/Tables/02_household-surveys/"+file)  # Include the subdirectory in the file path
<ipython-input-11-a4d44a2228d2>:20: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  datasets_geih[dataset_name] = pd.read_stata("/content/drive/MyDrive/Colab_Notebooks/Final_Project/Tables/02_household-surveys/"+file)  # Include the subdirectory in the file path
<ipython-input-11-a4d44a2228d2>:20: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  datasets_geih[dataset_name] = pd.read_stata("/content/drive/MyDrive/Colab_Notebooks/Final_Project/Tables/02_household-surveys/"+file)  # Include the subdirectory in the file path
<ipython-input-11-a4d44a2228d2>:20: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  datasets_geih[dataset_name] = pd.read_stata("/content/drive/MyDrive/Colab_Notebooks/Final_Project/Tables/02_household-surveys/"+file)  # Include the subdirectory in the file path

In [ ]:
for dataset_name, dataset in datasets_geih.items():
    print((dataset.columns[dataset.isna().any()].size)/(dataset.shape[1]))
    print(f"Head of {dataset_name}:")
    print(dataset.head(10))
    print("\n")

In [12]:
for dataset_name, dataset in datasets_geih.items():
    # Find columns that have any NaN values
    nan_columns = dataset.columns[dataset.isna().any()].tolist()
    # Drop these columns from the dataframe
    datasets_geih[dataset_name] = dataset.drop(columns=nan_columns)
    # Print the names of the dropped columns
    print(f"Dropped columns from {dataset_name}: {nan_columns}")

Dropped columns from workforce_geih-2022-clean: ['P6250', 'P6260', 'P6260S1', 'P6260S2', 'P6270', 'P6280', 'P6290', 'P6300', 'P6310', 'P6320', 'P6330', 'P6340', 'P6350', 'P6351', 'P6240S2', 'P3362S1', 'P3362S2', 'P3362S3', 'P3362S4', 'P3362S5', 'P3362S6', 'P3362S7', 'P3362S8', 'FT', 'FFT']
Dropped columns from other-work_geih-2022-clean: ['P3076S1A1', 'P3076S1A2', 'P3076S2A1', 'P3076S2A2', 'P3076S3A1', 'P3076S3A2', 'P3077S1A1', 'P3077S1A2', 'P3077S2A1', 'P3077S2A2', 'P3077S3A1', 'P3077S3A2', 'P3078S1A1', 'P3078S1A2', 'P3078S2A1', 'P3078S2A2', 'P3078S3A1', 'P3078S3A2', 'P3079S1A1', 'P3079S1A2', 'P3079S2A1', 'P3079S2A2', 'P3079S3A1', 'P3079S3A2', 'P3081S1A1', 'P3081S1A2', 'P3081S2A1', 'P3081S2A2', 'P3081S3A1', 'P3081S3A2', 'P3082S1A1', 'P3082S1A2', 'P3082S2A1', 'P3082S2A2', 'P3082S3A1', 'P3082S3A2', 'P3083', 'P3083S1', 'P3085', 'P3086', 'P3087', 'P3088', 'P3089S1', 'P3089S2', 'P3091S1', 'P3091S2', 'P3092S1', 'P3092S2', 'P3093S1', 'P3093S2', 'P3094S1', 'P3094S2', 'P3094S3', 'P3095S1', 'P3095S2', 'P3095S3', 'P3096S1', 'P3096S2', 'P3096S3', 'P3097', 'P3097S1', 'P3097S2', 'P3098S1', 'P3098S2', 'P3099S1', 'P3099S2', 'P3101S1', 'P3101S2', 'P3092']
Dropped columns from occupied_geih-2022-clean: ['P6450', 'P6460', 'P6460S1', 'P6400', 'P6410', 'P6422', 'P6424S1', 'P6424S2', 'P6424S3', 'P6424S5', 'P3045S1', 'P3045S2', 'P3045S3', 'P3046', 'P9440', 'P6500', 'P6510', 'P6510S1', 'P6510S2', 'P6590', 'P6590S1', 'P6600', 'P6600S1', 'P6610', 'P6610S1', 'P6620', 'P6620S1', 'P6585S1', 'P6585S1A1', 'P6585S1A2', 'P6585S2', 'P6585S2A1', 'P6585S2A2', 'P6585S3', 'P6585S3A1', 'P6585S3A2', 'P6585S4', 'P6585S4A1', 'P6585S4A2', 'P6545', 'P6545S1', 'P6545S2', 'P6580', 'P6580S1', 'P6580S2', 'P6630S1', 'P6630S1A1', 'P6630S2', 'P6630S2A1', 'P6630S3', 'P6630S3A1', 'P6630S4', 'P6630S4A1', 'P6630S6', 'P6630S6A1', 'P6640', 'P3047', 'P3048', 'P3049', 'P6765', 'P3053', 'P3054', 'P3055', 'P3056', 'P6760', 'P3061', 'P3063', 'P3064', 'P3065', 'P3066', 'P3067', 'P3067S1', 'P3067S2', 'P6775', 'P3068', 'P6750', 'P3073', 'P550', 'P6780', 'P1879', 'P1805', 'P6810', 'P6830', 'P6930', 'P6940', 'P6960', 'P760', 'P7026', 'P7028', 'P1880', 'P7045', 'P7050', 'P7070', 'P7075', 'P7077', 'P7100', 'P7110', 'P7120', 'P7140S1', 'P7140S2', 'P7140S3', 'P7140S4', 'P7140S5', 'P7140S6', 'P7140S7', 'P7140S8', 'P7140S9', 'P7150', 'P7160', 'P1882', 'INGLABO', 'P3363', 'P3364', 'P3364S1', 'P6640S1', 'P1800', 'P1800S1', 'P1801S1', 'P1801S2', 'P1801S3', 'P1802', 'P3365', 'P3365S1', 'P3366']
Dropped columns from migration_geih-2022-clean: ['P3373S1', 'P3373S2', 'P3373S3', 'P3373S3A1', 'P3373S3A2', 'P3374S1', 'P3374S2', 'P3374S3', 'P3375S1', 'P3376', 'P3377', 'P3378', 'P3378S1', 'P3379', 'P3380', 'P3381', 'P3382S1', 'P3382S2', 'P3382S3', 'P3383', 'P3384S1', 'P3384S2', 'P3384S3', 'P3385', 'P3386']
Dropped columns from individual_geih-2022-clean: ['P6083S1', 'P6081S1', 'P2059', 'P6070', 'P6071', 'P6071S1', 'P3147S1', 'P3147S2', 'P3147S3', 'P3147S4', 'P3147S5', 'P3147S6', 'P3147S7', 'P3147S8', 'P3147S9', 'P3147S10', 'P3147S11', 'P6100', 'P6110', 'P6120', 'P6160', 'P6170', 'P3041', 'P3042', 'P3042S1', 'P3042S2', 'P3043', 'P3043S1', 'P3038', 'P3039', 'LGB_Numerica', 'LGB_sectores', 'Trans_numerica', 'LGBT_Numerica', 'Discapacidad', 'Dificultad', 'POB_MAY18']

In [13]:
for dataset_name, dataset in datasets_geih.items():
    # Find columns that have any empty string values
    empty_string_columns = dataset.columns[dataset.eq("").any()].tolist()
    # Drop these columns from the dataframe
    datasets_geih[dataset_name] = dataset.drop(columns=empty_string_columns)
    # Print the names of the dropped columns
    print(f"Dropped columns from {dataset_name}: {empty_string_columns}")

Dropped columns from workforce_geih-2022-clean: ['P6240S1', 'P6260S1A1', 'P6310S1', 'AREA', 'P3362S7A1']
Dropped columns from other-work_geih-2022-clean: ['P3086S1', 'P3087S1', 'P3089S3', 'AREA']
Dropped columns from occupied_geih-2022-clean: ['P6430S1', 'P6765S1', 'P6780S1', 'P6810S1', 'P6830S1', 'P6880S1', 'P6915S1', 'P7028S1', 'P1880S1', 'AREA', 'P3051', 'P3051S1', 'P3052', 'P3052S1', 'P3054S1', 'P3055S1', 'P3057', 'P3058S1', 'P3058S2', 'P3058S3', 'P3058S4', 'P3058S5', 'P3059', 'P3062S1', 'P3062S2', 'P3062S3', 'P3062S4', 'P3062S5', 'P3062S6', 'P3062S7', 'P3062S8', 'P3062S9', 'P3063S1', 'P3064S1']
Dropped columns from migration_geih-2022-clean: ['AREA', 'P3386S1']
Dropped columns from individual_geih-2022-clean: ['P6030S1', 'P6030S3', 'P6080S1', 'P6080S1A1', 'P3147S10A1', 'AREA']

In [14]:
for dataset_name, dataset in datasets_geih.items():
    # Find rows that have any NaN values
    nan_rows = dataset[dataset.isna().any(axis=1)]

    # Drop these rows from the dataframe
    datasets_geih[dataset_name] = dataset.drop(nan_rows.index)

    # Print the number of dropped rows
    print(f"Dropped {len(nan_rows)} rows from {dataset_name}")

Dropped 0 rows from workforce_geih-2022-clean
Dropped 0 rows from other-work_geih-2022-clean
Dropped 0 rows from occupied_geih-2022-clean
Dropped 0 rows from migration_geih-2022-clean
Dropped 0 rows from individual_geih-2022-clean

In [ ]:
for dataset_name, dataset in datasets_geih.items():
    print(f"The shape of {dataset_name} is {dataset.shape}")

The shape of workforce_geih-2022-clean is (713731, 15)
The shape of other-work_geih-2022-clean is (713731, 40)
The shape of other-income-taxes_geih-2022-clean is (713731, 19)
The shape of occupied_geih-2022-clean is (382461, 42)
The shape of non-occupied_geih-2022-clean is (331270, 17)
The shape of migration_geih-2022-clean is (919459, 17)
The shape of individual_geih-2022-clean is (919459, 33)
The shape of household_geih-2022-clean is (304459, 29)

"DIRECTORIO", "SECUENCIA_P", "HOGAR", "REGIS", "ORDEN", "AREA", "CLASE", "DPTO", "FEX_C18", "PERIODO", "MES", "PER", "id_house", "adj_weight"

In [ ]:
# Define the columns to check
check_cols = ["DIRECTORIO", "SECUENCIA_P", "HOGAR", "id_house", "adj_weight"]

for dataset_name, dataset in datasets_geih.items():
    # Check if any of the columns have NaN values
    nan_cols = [col for col in check_cols if dataset[col].isna().any()]

    # Print the result
    if nan_cols:
        print(f"The dataset '{dataset_name}' has NaN values in these columns: {nan_cols}")
    else:
        print(f"The dataset '{dataset_name}' does not have NaN values in any of the checked columns.")

The dataset 'workforce_geih-2022-clean' does not have NaN values in any of the checked columns.
The dataset 'other-work_geih-2022-clean' does not have NaN values in any of the checked columns.
The dataset 'other-income-taxes_geih-2022-clean' does not have NaN values in any of the checked columns.
The dataset 'occupied_geih-2022-clean' does not have NaN values in any of the checked columns.
The dataset 'non-occupied_geih-2022-clean' does not have NaN values in any of the checked columns.
The dataset 'migration_geih-2022-clean' does not have NaN values in any of the checked columns.
The dataset 'individual_geih-2022-clean' does not have NaN values in any of the checked columns.

In [15]:
# Define the old and new column names
rename_cols = {'MES': 'MES_REF', 'CLASE': 'CLASE_TE', 'DPTO': 'COD_DEPTO', 'ORDEN':'SECUENCIA_ENCUESTA'}

# Rename the columns in all dataframes
for dataset_name, dataset in datasets_geih.items():
    datasets_geih[dataset_name] = dataset.rename(columns=rename_cols)

In [16]:
columns_to_drop = ['PERIODO', 'PER', 'REGIS', 'CLASE_TE', 'COD_DEPTO', 'MES_REF', 'id_house', 'FEX_C18', 'HOGAR', 'adj_weight']

for dataset_name, dataset in datasets_geih.items():
    datasets_geih[dataset_name] = dataset.drop(columns_to_drop, axis=1, errors='ignore')

In [17]:
datasets_items = list(datasets_geih.items())

In [18]:
# Convert the data types of the merging columns to int64
for dataset_name, dataset in datasets_geih.items():
    for col in ["DIRECTORIO", "SECUENCIA_P", "SECUENCIA_ENCUESTA"]:
        datasets_geih[dataset_name][col] = datasets_geih[dataset_name][col].astype('int64')
emicron["DIRECTORIO"] = emicron["DIRECTORIO"].astype('int64')
emicron["SECUENCIA_P"] = emicron["SECUENCIA_P"].astype('int64')
emicron["SECUENCIA_ENCUESTA"] = emicron["SECUENCIA_ENCUESTA"].astype('int64')

In [19]:
#to run
# Define the columns you want to merge
merge_cols = ["DIRECTORIO", "SECUENCIA_P", 'SECUENCIA_ENCUESTA']

# Get the list of dataset items
datasets_items = list(datasets_geih.items())

# Merge the first dataset
emicron_merge = pd.merge(emicron, datasets_items[0][1], on=merge_cols, how='inner')

# Loop over the rest of the datasets in datasets_geih
for dataset_name, dataset in datasets_items[1:]:
  emicron_merge = pd.merge(emicron_merge, dataset, on=merge_cols, how='inner')
  print(emicron_merge)

       DIRECTORIO  SECUENCIA_P  SECUENCIA_ENCUESTA  COD_DEPTO  AREA  CLASE_TE  \
0         5000001            1                   2          8   NaN         1
1         5000003            1                   1          8   NaN         1
2         5000003            1                   2          8   NaN         1
3         5000007            1                   1          8   NaN         1
4         5000008            1                   1          8   NaN         1
...           ...          ...                 ...        ...   ...       ...
80748     7277027            1                   4         66  66.0         1
80749     7277028            1                   1         66  66.0         1
80750     7277029            1                   1         66  66.0         1
80751     7277065            1                   1         25   NaN         2
80752     7277068            1                   2         25   NaN         2

       P35  P241    MES_REF  P3031  ...  P3082S3  P3089_y  P3094  P3095_y  \
0        2    61    FEBRERO      2  ...      2.0      2.0    2.0      2.0
1        1    44    FEBRERO      2  ...      2.0      2.0    2.0      2.0
2        2    37    FEBRERO      2  ...      2.0      2.0    2.0      2.0
3        2    36    FEBRERO      1  ...      2.0      2.0    2.0      2.0
4        1    60    FEBRERO      2  ...      2.0      2.0    2.0      2.0
...    ...   ...        ...    ...  ...      ...      ...    ...      ...
80748    1    74  DICIEMBRE      2  ...      2.0      2.0    2.0      2.0
80749    2    52  DICIEMBRE      1  ...      2.0      2.0    2.0      2.0
80750    1    63  DICIEMBRE      2  ...      2.0      2.0    2.0      2.0
80751    1    39  DICIEMBRE      1  ...      2.0      1.0    2.0      1.0
80752    1    46  DICIEMBRE      2  ...      2.0      2.0    2.0      2.0

       P3096_y  P3098_y  P3099_y  P3101  P3091_y  P3093_y
0          2.0      2.0      2.0    2.0      2.0      2.0
1          2.0      2.0      2.0    2.0      2.0      2.0
2          2.0      2.0      2.0    2.0      2.0      2.0
3          2.0      2.0      2.0    2.0      2.0      2.0
4          2.0      2.0      2.0    2.0      2.0      2.0
...        ...      ...      ...    ...      ...      ...
80748      2.0      2.0      2.0    2.0      2.0      2.0
80749      2.0      2.0      2.0    2.0      2.0      2.0
80750      2.0      2.0      2.0    2.0      2.0      2.0
80751      2.0      2.0      2.0    1.0      2.0      2.0
80752      2.0      2.0      2.0    2.0      2.0      2.0

[80753 rows x 268 columns]
       DIRECTORIO  SECUENCIA_P  SECUENCIA_ENCUESTA  COD_DEPTO  AREA  CLASE_TE  \
0         5000001            1                   2          8   NaN         1
1         5000003            1                   1          8   NaN         1
2         5000003            1                   2          8   NaN         1
3         5000007            1                   1          8   NaN         1
4         5000008            1                   1          8   NaN         1
...           ...          ...                 ...        ...   ...       ...
80748     7277027            1                   4         66  66.0         1
80749     7277028            1                   1         66  66.0         1
80750     7277029            1                   1         66  66.0         1
80751     7277065            1                   1         25   NaN         2
80752     7277068            1                   2         25   NaN         2

       P35  P241    MES_REF  P3031  ...  P514  P515  P1881  P7240  OCI  P6430  \
0        2    61    FEBRERO      2  ...   1.0   1.0    3.0    3.0  1.0    4.0
1        1    44    FEBRERO      2  ...   2.0   1.0   14.0    3.0  1.0    4.0
2        2    37    FEBRERO      2  ...   1.0   1.0   14.0    3.0  1.0    4.0
3        2    36    FEBRERO      1  ...   2.0   1.0   12.0    3.0  1.0    4.0
4        1    60    FEBRERO      2  ...   2.0   1.0    3.0    3.0  1.0    4.0
...    ...   ...        ...    ...  ...   ...   ...    ...    ...  ...    ...
80748    1    74  DICIEMBRE      2  ...   1.0   1.0    2.0    3.0  1.0    4.0
80749    2    52  DICIEMBRE      1  ...   2.0   2.0   11.0    8.0  1.0    5.0
80750    1    63  DICIEMBRE      2  ...   1.0   1.0   14.0   10.0  1.0    4.0
80751    1    39  DICIEMBRE      1  ...   1.0   1.0    3.0    8.0  1.0    4.0
80752    1    46  DICIEMBRE      2  ...   1.0   2.0   14.0    8.0  1.0    4.0

       RAMA4D_R4  OFICIO_C8  RAMA2D_R4   FT
0           4792       3322         47  1.0
1           4921       8321         49  1.0
2           8559       2359         85  1.0
3           4724       5221         47  1.0
4           0220       6210         02  1.0
...          ...        ...        ...  ...
80748       4520       7132         45  1.0
80749       5613       1412         56  1.0
80750       6910       2611         69  1.0
80751       0144       6121         01  1.0
80752       4520       7132         45  1.0

[80753 rows x 297 columns]
       DIRECTORIO  SECUENCIA_P  SECUENCIA_ENCUESTA  COD_DEPTO  AREA  CLASE_TE  \
0         5000001            1                   2          8   NaN         1
1         5000003            1                   1          8   NaN         1
2         5000003            1                   2          8   NaN         1
3         5000007            1                   1          8   NaN         1
4         5000008            1                   1          8   NaN         1
...           ...          ...                 ...        ...   ...       ...
80748     7277027            1                   4         66  66.0         1
80749     7277028            1                   1         66  66.0         1
80750     7277029            1                   1         66  66.0         1
80751     7277065            1                   1         25   NaN         2
80752     7277068            1                   2         25   NaN         2

       P35  P241    MES_REF  P3031  ...  OCI  P6430  RAMA4D_R4  OFICIO_C8  \
0        2    61    FEBRERO      2  ...  1.0    4.0       4792       3322
1        1    44    FEBRERO      2  ...  1.0    4.0       4921       8321
2        2    37    FEBRERO      2  ...  1.0    4.0       8559       2359
3        2    36    FEBRERO      1  ...  1.0    4.0       4724       5221
4        1    60    FEBRERO      2  ...  1.0    4.0       0220       6210
...    ...   ...        ...    ...  ...  ...    ...        ...        ...
80748    1    74  DICIEMBRE      2  ...  1.0    4.0       4520       7132
80749    2    52  DICIEMBRE      1  ...  1.0    5.0       5613       1412
80750    1    63  DICIEMBRE      2  ...  1.0    4.0       6910       2611
80751    1    39  DICIEMBRE      1  ...  1.0    4.0       0144       6121
80752    1    46  DICIEMBRE      2  ...  1.0    4.0       4520       7132

       RAMA2D_R4   FT  P3373  P3374  P3382  P3384
0             47  1.0    2.0    1.0    2.0    2.0
1             49  1.0    2.0    1.0    2.0    2.0
2             85  1.0    2.0    1.0    2.0    2.0
3             47  1.0    2.0    1.0    3.0    2.0
4             02  1.0    2.0    1.0    2.0    2.0
...          ...  ...    ...    ...    ...    ...
80748         45  1.0    2.0    1.0    2.0    2.0
80749         56  1.0    2.0    1.0    2.0    2.0
80750         69  1.0    2.0    1.0    2.0    2.0
80751         01  1.0    2.0    1.0    2.0    2.0
80752         45  1.0    1.0    1.0    2.0    2.0

[80753 rows x 301 columns]
       DIRECTORIO  SECUENCIA_P  SECUENCIA_ENCUESTA  COD_DEPTO  AREA  CLASE_TE  \
0         5000001            1                   2          8   NaN         1
1         5000003            1                   1          8   NaN         1
2         5000003            1                   2          8   NaN         1
3         5000007            1                   1          8   NaN         1
4         5000008            1                   1          8   NaN         1
...           ...          ...                 ...        ...   ...       ...
80748     7277027            1                   4         66  66.0         1
80749     7277028            1                   1         66  66.0         1
80750     7277029            1                   1         66  66.0         1
80751     7277065            1                   1         25   NaN         2
80752     7277068            1                   2         25   NaN         2

       P35  P241    MES_REF  P3031  ...  P6090  P1906S1  P1906S2  P1906S3  \
0        2    61    FEBRERO      2  ...    1.0      4.0      4.0      4.0
1        1    44    FEBRERO      2  ...    1.0      4.0      4.0      4.0
2        2    37    FEBRERO      2  ...    1.0      4.0      4.0      4.0
3        2    36    FEBRERO      1  ...    2.0      4.0      4.0      4.0
4        1    60    FEBRERO      2  ...    1.0      4.0      4.0      4.0
...    ...   ...        ...    ...  ...    ...      ...      ...      ...
80748    1    74  DICIEMBRE      2  ...    2.0      4.0      4.0      4.0
80749    2    52  DICIEMBRE      1  ...    1.0      4.0      4.0      4.0
80750    1    63  DICIEMBRE      2  ...    2.0      4.0      4.0      4.0
80751    1    39  DICIEMBRE      1  ...    1.0      4.0      4.0      4.0
80752    1    46  DICIEMBRE      2  ...    1.0      4.0      4.0      4.0

       P1906S4  P1906S5  P1906S6  P1906S7  P1906S8  Campesina
0          4.0      4.0      4.0      4.0      4.0        0.0
1          4.0      4.0      4.0      4.0      4.0        0.0
2          4.0      4.0      4.0      4.0      4.0        9.0
3          4.0      4.0      4.0      4.0      4.0        0.0
4          4.0      4.0      4.0      4.0      4.0        0.0
...        ...      ...      ...      ...      ...        ...
80748      4.0      4.0      4.0      4.0      4.0        0.0
80749      4.0      4.0      4.0      4.0      4.0        0.0
80750      4.0      4.0      4.0      4.0      4.0        0.0
80751      2.0      4.0      4.0      3.0      4.0        1.0
80752      4.0      4.0      4.0      4.0      4.0        1.0

[80753 rows x 320 columns]

In [20]:
emicron_merge.shape

(80753, 320)

In [ ]:
# Check for missing values in each column
missing_counts = emicron_merge.isnull().sum()

# Count the total number of columns with missing values
num_columns_with_missing = (missing_counts > 0).sum()

f"The number of columns with missing values in emicron_merge is: {num_columns_with_missing}"

'The number of columns with missing values in emicron_merge is: 180'

In [ ]:
# Assuming df is your DataFrame
duplicates = emicron_merge.duplicated(subset=['DIRECTORIO', 'SECUENCIA_P', 'SECUENCIA_ENCUESTA'])

# If you want to see the rows that are duplicated
duplicate_rows = emicron_merge[emicron_merge.duplicated(subset=['DIRECTORIO', 'SECUENCIA_P', 'SECUENCIA_ENCUESTA'])]

duplicate_rows

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,...,P6090,P1906S1,P1906S2,P1906S3,P1906S4,P1906S5,P1906S6,P1906S7,P1906S8,Campesina
59,5000128,1,1,18,NaN,2,2,50,FEBRERO,1,...,1.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,1.0
60,5000128,1,1,18,NaN,2,2,50,FEBRERO,1,...,1.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,1.0
61,5000128,1,1,18,NaN,2,2,50,FEBRERO,1,...,1.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,1.0
143,5000491,1,1,5,NaN,2,1,57,FEBRERO,1,...,1.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0
144,5000491,1,1,5,NaN,2,1,57,FEBRERO,1,...,1.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80715,7276862,1,1,88,88.0,1,1,44,DICIEMBRE,1,...,1.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0
80716,7276862,1,1,88,88.0,1,1,44,DICIEMBRE,1,...,1.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0
80740,7276998,1,1,18,NaN,2,1,83,DICIEMBRE,1,...,1.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,1.0
80741,7276998,1,1,18,NaN,2,1,83,DICIEMBRE,1,...,1.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,1.0
80742,7276998,1,1,18,NaN,2,1,83,DICIEMBRE,1,...,1.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,1.0

In [21]:
emicron_copy = emicron_merge

#check relevant columns how many missing values

In [ ]:
columns = [
    "P3032_3", "P3033", "GRUPOS4", "GRUPOS12", "P3051", "P639", "P3052", "P3053", "P3088", "P3089", "P3090", "P2989",
    "P3091", "SUELDOS", "PRESTACIONES", "REMUNERACION_TOTAL", "TIPO", "P3077", "P3079", "P3080", "P3081", "P3082",
    "P3083", "P3084", "P2990", "P1633", "P986", "P640", "P4000", "P1055", "P1056", "P661", "P1057", "P4004", "P2991",
    "P2992", "P2993", "P4001", "P2532", "P1559", "P2524", "P1093", "P3056_A", "P3056_B", "P3056_C", "P3056_D", "P3057_A",
    "P3057_B", "P3057_C", "P3057_D", "P3017_A", "P3017_B", "P3017_C", "P3017_D", "P3017_E", "P3017_F", "P3017_G", "P3017_H",
    "P3017_K", "P3017_I", "P3017_J", "P3017_L", "P3018_1", "P3018_2", "P3018_3", "P3018_4", "P3018_5", "P3018_6", "P3018_7",
    "P3018_A", "P3018_B", "P3018_C", "P3018_D", "P3018_E", "P3018_F", "P3019", "COSTOS_MES_ANTERIOR", "COSTOS_ANIO_ANTERIOR",
    "GASTOS_MES", "CONSUMO_INTERMEDIO", "P3057", "P3058", "P3059", "P3060", "P3061", "P3062", "P4002", "P3063", "P3064",
    "P3065", "P3066", "P3067", "P3092", "P3093", "P4005", "P4006", "P4007", "P4008", "P4009", "P4010", "P4011", "P4012",
    "P4013", "P4014", "P4015", "P4016", "P4017", "P4018", "P4019", "P4020", "P4021", "P4022", "P4023", "P4024", "P4025", "P4026",
    "P4027", "P4028", "P4029", "P4030", "P4031", "P4032", "P3072", "VENTAS_MES_ANTERIOR", "VENTAS_MES_ANIO_ANTERIOR",
    "VENTAS_ANIO_ANTERIOR", "VALOR_AGREGADO", "INGRESO_MIXTO", "P1764_1", "P1764_2", "P1764_3", "P1764_4", "P1764_5",
    "P1764_6", "P1764_7", "P1765", "P1765", "P1567", "P1569", "P1568", "P1571_1", "P1571_2", "P1571_3", "P1571_4", "P1571_5", "P1571_6",
    "P1570", "P1570_1", "P1570_2", "P1572_1", "P1572_2", "P1572_3", "P1572_4", "P1572_5", "P1572_6",
    "P3014", "P1573_1", "P1573_2", "P1573_3", "P1573_4", "P1573_5", "P1573_6", "P1574", "P1771", "P3002", "P3003_1", "P3003_2", "P3003_3",
    "P3003_4", "P3003_5", "P3003_6", "P3003_7", "P3003_8", "P3004", "P3005_1", "P3005_2", "P3005_3", "P3005_4",
    "P3005_5", "P3005_6", "P3005_7", "P3005_8", "P3006", "P3007_1", "P3007_2", "P3007_3", "P3007_4", "P3007_5",
    "P3007_6", "P3007_7", "P3007_8", "P3008", "P3009_1", "P3009_2", "P3009_3", "P3009_4", "P3009_5", "P3009_6",
    "P3009_7", "P3009_8", "P3010", "P3011_1", "P3011_2", "P3011_3", "P3011_4", "P3011_5", "P3011_6", "P3011_7",
    "P3011_8", "P3012", "P3013_1", "P3013_2", "P3013_3", "P3013_4", "P3013_5", "P3013_6", "P3013_7", "P3013_8",
    "P3022", "P3015_1", "P3015_2", "P3015_3", "P3015_4", "P3015_5", "P3015_6", "P3015_7", "P3015_8", "P3016",
    "P3021_1", "P3021_2", "P3021_3", "P3021_4", "P3021_5", "P3021_6", "P3021_7", "P3021_8", "P4003"
]

emicron_relevant = emicron[columns]
print(emicron_relevant.isnull().sum())

In [ ]:
print(emicron_relevant.columns[emicron_relevant.isnull().sum() == 0].tolist())

In [ ]:
emicron.columns[emicron.isnull().any()].tolist()

Most important columns with missing values (even though we could exclude them)

P661

P1057

P2991

P2992

P2993

P3014

SECUENCIA_PH

TIPO

P3080

P3082

P3084

P2990

#create dummies 'urban' and 'informal'

In [22]:
#create dummy URBAN
emicron['urban'] = emicron['AREA'].notnull().astype(int)
emicron_copy['urban'] = emicron['AREA'].notnull().astype(int)
emicron_clean['urban'] = emicron['AREA'].notnull().astype(int)

#take only relevant columns and the ones with no NaN values

In [ ]:
import matplotlib.pyplot as plt

# Assuming 'emicron' is a DataFrame
# Replace 'emicron' with your actual DataFrame name
missing_values = emicron_copy.isna().sum()

plt.figure(figsize=(10, 6))
plt.bar(missing_values.index, missing_values.values, color='skyblue')
plt.xlabel('Column Names')
plt.ylabel('Number of Missing Values')
plt.title('Missing Values in Columns')
plt.xticks(rotation=90)
plt.show()

In [ ]:
emicron_copy.head(15)

In [ ]:
num_nan_columns = emicron_copy.columns[emicron_copy.isna().all()].size
print(num_nan_columns)

In [ ]:
emicron_copy.describe()

In [ ]:
emicron_copy.shape

In [ ]:
emicron_copy.head(15)

In [ ]:
print((emicron.isna().sum()<20808).sum())
print((emicron.isna().sum()>20808).sum())

In [ ]:
(emicron.isnull().sum(axis=1).mean())/emicron.shape[1]

In [ ]:
emicron.shape

In [ ]:
emicron['AREA'].isnull().sum()

In [23]:
# Calculate the percentage of NaN values in each column
nan_percentages = emicron_copy.isnull().mean()

# Filter columns with more than 0% NaN values
columns_to_drop = nan_percentages[nan_percentages > 0].index


# Values to exclude from columns_to_drop
exclude_values = ['COD_DEPTO']

# Remove specified values from columns_to_drop
columns_to_drop_filtered = [col for col in columns_to_drop if col not in exclude_values]

# Drop the identified columns
emicron_copy.drop(columns_to_drop_filtered, axis=1, inplace=True)

# Now 'emicron' contains the remaining columns
emicron_copy.shape

(80753, 141)

In [24]:
# Calculate the percentage of NaN values in each column
nan_percentages = emicron_clean.isnull().mean()

# Filter columns with more than 0% NaN values
columns_to_drop = nan_percentages[nan_percentages > 0].index


# Values to exclude from columns_to_drop
exclude_values = ['COD_DEPTO']

# Remove specified values from columns_to_drop
columns_to_drop_filtered = [col for col in columns_to_drop if col not in exclude_values]

# Drop the identified columns
emicron_clean.drop(columns_to_drop_filtered, axis=1, inplace=True)

# Now 'emicron' contains the remaining columns
emicron_clean.shape

(88162, 60)

In [ ]:
#167 if 90%. 187 if 95%

Indicators to create informal dummy:

P3035

P3032_3

P3088

P3090

P2989

P3080

P3082

P3084

PP2990

P1633

P640

P1055

P661

P1057

P2991

P2992

P2993

#take only relevant rows with no Nan values

In [25]:
nan_percentages = emicron_copy.isnull().mean(axis=1)
columns_to_drop = nan_percentages[nan_percentages > 0].index
emicron_copy.drop(columns_to_drop, inplace=True)

In [26]:
nan_percentages = emicron_clean.isnull().mean(axis=1)
columns_to_drop = nan_percentages[nan_percentages > 0].index
emicron_clean.drop(columns_to_drop, inplace=True)

In [ ]:
emicron_copy.isnull().mean(axis=1).mean()

In [27]:
emicron_copy.shape

(80753, 141)

In [28]:
emicron_clean.shape

(88162, 60)

In [ ]:
emicron_copy.columns

#save emicron merged with geih + the separate one

In [29]:
#save as csv
emicron_copy.to_csv('emicron_geih_merged.csv', index=False)

In [30]:
#save as csv
emicron_clean.to_csv('emicron_clean.csv', index=False)